<template>
  <!-- <HelloWorld /> -->
  <Login />
</template>

<script lang="ts" setup>
  // import HelloWorld from '@/components/HelloWorld.vue'
  import Login from '@/components/Login.vue'
</script>
