<template>
  <div class="mx-16 my-16">
    <v-card min-height="300px">
      <v-row class="my-auto" justify="center">
        <div id="chart" class="my-5">
          <apexchart type="line" ref="table" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </v-row>
    </v-card>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      body: {
        "id": 1993,
        "range": "29/02/2023 - 29/03/2023",
        "time": "00:00 - 23:59",
        "source": ["news","twitter","twitter_retweet","instagram","facebook","tiktok"],
        "sentiment": ["pos","neg","net"]
      },
      series: [],
      chartOptions: {
        xaxis: {
          categories: [],
          title: {
            text: 'Month'
          }
        },
        chart: {
          height: 350,
          width:1200,
          type: 'line',
          dropShadow: {
            enabled: false,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#69F0AE', '#FFA726','#7E57C2', '#42A5F5', '#9C27B0', '#F57F17'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'Social Media Data',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        
        yaxis: {
          title: {
            text: 'Value'
          },
          min: 5,
          
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          // floating: true,
          offsetY: -25,
          offsetX: -5
        }
      },
    }
  },
  methods: {
    async getData(){
      await fetch('https://api.beta.kazee.co.id/api/mediaintel/test/histogram', {
        method: 'POST',
        body: JSON.stringify(this.body),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      }).then((response)=>{
        // console.log(response); 
        response.json().then((data) => {
            console.log(data.data.categories);
            // this.chartOptions.xaxis.categories = data.data.categories
            this.chartOptions.xaxis.categories = data.data.categories
            this.series = data.data.series
            this.$refs.table.updateSeries(this.series,true)
            this.$refs.table.updateOptions(this.chartOptions, false ,true)
        });
      })
    }
  },
  mounted() {
    this.getData()
  },
};
</script>