<template>
  <div>
    <Profile />
    <br><br><br>
    <v-card flat>
      <v-tabs
        v-model="tab"
        color="success"
        style="margin-left: 150px;"
      >
        <v-tab value="one">Overview</v-tab>
        <v-tab value="two">Content</v-tab>
        <v-tab value="three">Brands</v-tab>
      </v-tabs>

      <v-card-text class="tab-item">
        <v-window v-model="tab" >
          <v-window-item value="one" >
            <Overview />
          </v-window-item>

          <v-window-item value="two">
            Content Page
          </v-window-item>

          <v-window-item value="three">
            Brands Page
          </v-window-item>
        </v-window>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts" setup>
import Profile from '@/components/Dashboard/Profile.vue'
import Overview from '@/components/Dashboard/Overview.vue'
</script>
<script lang="ts">
export default {
  data() {
    return {
      tab: null,
    }
  },
};
</script>
<style scoped>
.tab-item{
  background-color: whitesmoke !important;
  min-height: 300px;
}
</style>
