<template>
  <v-container class="fill-height">
    <v-row>
      <v-col cols="12" lg="8" class="text-center d-none d-lg-flex d-xl-none">
        <v-img src="../assets/image.webp" class="mx-auto image"></v-img>
      </v-col>
      <v-col cols="12" lg="4" class="">
        <div>
          <v-img src="../assets/vue-logo.png" class="mx-auto logo"></v-img>
        </div>
        <v-card flat>
          <div class="mx-3 my-5">
            <h1 class="title">Sign In</h1>
            <p>welcome back to your account</p>
          </div>
          <hr class="mx-3">
          <v-form>
            <v-responsive
              class="mx-auto py-5"
              max-width="344"
            >
              <v-text-field
                label="Username"
                placeholder="Placeholder"
                variant="outlined"
              ></v-text-field>
              <v-text-field
                label="Password"
                placeholder="Placeholder"
                type="password"
                variant="outlined"
              ></v-text-field>
              <v-row class="mx-3">
                <v-switch
                  label="Remember me"
                  color="success"
                  value="remember"
                  hide-details
                ></v-switch>
                <p class="my-auto">
                  <a href="/" class="link">
                    Forgot Password
                  </a>
                </p>
              </v-row>
              <v-row class="mx-5 mt-10">
                <v-btn class="mx-4" type="submit" color="green" rounded="xl">Confirm</v-btn>
                <p class="my-auto">or <a href="/" class="link">Create </a>an account</p>
              </v-row>
            </v-responsive>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
  //
</script>
<style scoped>
.link{
  text-decoration: none; 
  color: #66BB6A;
}
.image{
  max-height: 400px;
}
.logo{
  max-width: 50px;
}
.title{
  color: #66BB6A;
}
</style>
