<template>
  <div>
    <v-container fluid>
      <v-row class="row mt-2">
        <h2 class="my-auto">Instagram Stats</h2>
        <v-spacer></v-spacer>
        <div class="my-auto" style="width: 250px;">
          <v-select
            :items="items"
            label="Select an option"
            density="compact"
            bg-color="white"
            variant="solo"
          ></v-select>
        </div>
      </v-row>
      <v-row class="row-content">
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Content Post (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-instagram" class="my-auto" color="deep-purple-lighten-2"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>112</h1>
              </v-row>
              <v-row>
                <p style="color: red;"><i class="mdi mdi-arrow-bottom-right"></i> -0,4%</p>
                &nbsp;
                <p>less than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col>  
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Followers (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-account-group" class="my-auto" color="blue-lighten-1"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>14.3k</h1>
              </v-row>
              <v-row>
                <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 22,7%</p>
                &nbsp;
                <p>more than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col> 
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Following (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-account-plus" class="my-auto" color="lime-darken-3"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>44</h1>
              </v-row>
              <v-row>
                <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 1,4%</p>
                &nbsp;
                <p>more than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col> 
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Likes (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-heart" class="my-auto" color="pink-darken-1"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>140.8K</h1>
              </v-row>
              <v-row>
                <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 3,6%</p>
                &nbsp;
                <p>more than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col> 
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Likes (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-comment" class="my-auto" color="lime-darken-3"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>140.8K</h1>
              </v-row>
              <v-row>
                <p style="color: red;"><i class="mdi mdi-arrow-bottom-right"></i> -1,1%</p>
                &nbsp;
                <p>less than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col> 
        <v-col cols="12" lg="4">
          <v-card>
            <div class="mx-8 my-10">
              <v-row>
                <p class="card-title my-auto">Likes (30 days)</p>
                <v-spacer></v-spacer>
                <v-btn density="comfortable" icon="mdi-eye" class="my-auto" color="green"></v-btn>
              </v-row>
              <v-row class="my-10">
                <h1>12.1K</h1>
              </v-row>
              <v-row>
                <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 3,6%</p>
                &nbsp;
                <p>more than usual</p>
              </v-row>
            </div>
          </v-card>
        </v-col> 
        <v-col cols="12" lg="6">
          <v-card class="my-5">
            <div class="mx-8 my-10">
              <v-row>
                <div>
                  <h3 class="my-auto">Reputation Growth</h3>
                  <h2 class="mt-5" style="color: green;">+2,654</h2>
                </div>
                <v-spacer></v-spacer>
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="2"
                  :model-value="value"
                  color="teal"
                >
                  65%
                </v-progress-circular>
                <p style="max-width: 450px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas id ante in posuere. Nunc a mi a nunc scelerisque sollicitudin. Nullam ultricies semper arcu ac tempor. In ut sapien.
                </p>
              </v-row>
            </div>
          </v-card>

          <v-card class="my-5">
            <h3 class="mx-5 mt-5">Instagram Stats</h3>
            <div class="mx-8 mb-10 mt-5">
              <v-row class="text-center">
                <v-col>
                  <v-progress-circular
                    :rotate="360"
                    :size="60"
                    :width="10"
                    model-value="23"
                    color="blue"
                  ></v-progress-circular>
                  <div class="mt-5">
                    <h3>+224</h3>
                    <p style="color: gray;">Creativity</p>
                  </div>
                </v-col>
                <v-col>
                  <v-progress-circular
                    :rotate="360"
                    :size="60"
                    :width="10"
                    model-value="74"
                    color="teal"
                  ></v-progress-circular>
                  <div class="mt-5">
                    <h3>+37%</h3>
                    <p style="color: gray;">Engagement</p>
                  </div>
                </v-col>
                <v-col>
                  <v-progress-circular
                    :rotate="360"
                    :size="60"
                    :width="10"
                    model-value="45"
                    color="light-green-lighten-2"
                  ></v-progress-circular>
                  <div class="mt-5">
                    <h3>+82%</h3>
                    <p style="color: gray;">Popularity</p>
                  </div>
                </v-col>
              </v-row>
            </div>
          </v-card>

          <v-card class="my-5">
            <div class="mx-8 my-10">
              <v-row>
                <div>
                  <h3 class="my-auto">Influence Growth</h3>
                  <h2 class="mt-5" style="color: green;">+3,624</h2>
                </div>
                <v-spacer></v-spacer>
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="10"
                  model-value="65"
                  color="yellow-darken-2"
                >
                65%
                </v-progress-circular>
                <p style="max-width: 450px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas id ante in posuere. Nunc a mi a nunc scelerisque sollicitudin. Nullam ultricies semper arcu ac tempor. In ut sapien.
                </p>
              </v-row>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" lg="6">
          <v-card class="my-5">
            <div class="mx-8 my-10">
              <v-row class="mb-16">
                <div>
                  <h3 class="my-auto">Recent Hashtag</h3>
                </div>
              </v-row>
              <v-row justify="center">
                <div class="mx-5 my-5">
                  <p>adobe</p>
                </div>
                <div class="mx-5 my-5">
                  <h3>animation</h3>
                </div>
                <div class="mx-5 my-5">
                  <h2>art</h2>
                </div>
                <div class="mx-5 my-5">
                  <p>soccer</p>
                </div>
                <div class="mx-5 my-5">
                  <h3>basketball</h3>
                </div>
                <div class="mx-5 my-5">
                  <p>painting</p>
                </div>
                <div class="mx-5 my-5">
                  <h4>code</h4>
                </div>
                <div class="mx-5 my-5">
                  <p>programmer</p>
                </div>
                <div class="mx-5 my-5">
                  <h3>technology</h3>
                </div>
                <div class="mx-5 my-5">
                  <h1>animation</h1>
                </div>
                <div class="mx-5 my-5">
                  <h1>keyboard</h1>
                </div>
                <div class="mx-5 my-5">
                  <h2>politics</h2>
                </div>
                <div class="mx-5 my-5">
                  <h3>music</h3>
                </div>
                <div class="mx-5 my-5">
                  <h2>band</h2>
                </div>
                <div class="mx-5 my-5">
                  <h3>k-pop</h3>
                </div>
                <div class="mx-5 my-5">
                  <p>comedy</p>
                </div>
                <div class="mx-5 my-5">
                  <h2>business</h2>
                </div>
                <div class="mx-5 my-5">
                  <h1>self-care</h1>
                </div>
                <div class="mx-5 my-5">
                  <h2>anime</h2>
                </div>
                <div class="mx-5 my-5">
                  <h1>japan-culture</h1>
                </div>
                <div class="mx-5 my-5">
                  <h3>acrobatic</h3>
                </div>
                <div class="mx-5 my-5">
                  <h2>sport</h2>
                </div>
                <div class="mx-5 my-5">
                  <h1>games</h1>
                </div>
                <div class="mx-5 my-5">
                  <p>writing</p>
                </div>
                <div class="mx-5 my-5">
                  <h2>motivational</h2>
                </div>
                <div class="mx-5 my-5">
                  <h1>economy</h1>
                </div>
              </v-row>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card class="">
            <div >
              <v-row class="my-5 mx-5">
                <v-col>
                  <p class="mb-5" style="color: gray;">
                    Avg. Post per day
                  </p>
                  <h1 class="my-2">7.2</h1>
                  <v-row class="mt-5">
                    &nbsp;&nbsp;&nbsp;
                    <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 22,7%</p>
                    &nbsp;
                    <p>more than usual</p>
                  </v-row>
                </v-col>
                
                <v-col>
                  <p class="mb-5" style="color: gray;">
                    Avg. comments per post
                  </p>
                  <h1 class="my-2">112</h1>
                  <v-row class="mt-5">
                    &nbsp;&nbsp;&nbsp;
                    <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 24,8%</p>
                    &nbsp;
                    <p>more than usual</p>
                  </v-row>
                </v-col>
                
                <v-col>
                  <p class="mb-5" style="color: gray;">
                    Avg. Likes per post
                  </p>
                  <h1 class="my-2">1.3k</h1>
                  <v-row class="mt-5">
                    &nbsp;&nbsp;&nbsp;
                    <p style="color: red;"><i class="mdi mdi-arrow-bottom-right"></i> 1.8%</p>
                    &nbsp;
                    <p>less than usual</p>
                  </v-row>
                </v-col>
                
                <v-col>
                  <p class="mb-5" style="color: gray;">
                    Avg. Engagement rate
                  </p>
                  <h1 class="my-2">5.68%</h1>
                  <v-row class="mt-5">
                    &nbsp;&nbsp;&nbsp;
                    <p style="color: green;"><i class="mdi mdi-arrow-top-right"></i> 5.8%</p>
                    &nbsp;
                    <p>more than usual</p>
                  </v-row>
                </v-col>
              </v-row>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">

export default {
  data() {
    return {
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      interval: {},
      value: 65,
    }
  },
};
</script>

<style scoped>
.row{
  margin-left: 120px !important; 
  margin-right: 120px !important;
}
.row-content{
  margin-left: 108px !important; 
  margin-right: 108px !important;
}
.card-title{
  color: gray;
}
</style>