<template>
  <div>
    <v-container class="fill-height mt-16">
      <v-row>
        <v-col cols="12" lg="2">
          <v-avatar color="info" size="150px">
            <v-img
              src="https://cdn.vuetifyjs.com/images/john.jpg"
              alt="John"
            ></v-img>
          </v-avatar>
        </v-col>
        <v-col cols="12" lg="10" class="my-5">
          <v-row>
            <h2>sweet_candy13</h2>
            <v-icon
              size="large"
              color="yellow-darken-2"
              icon="mdi-star"
              class="mx-2 my-auto"
            ></v-icon>
            &nbsp;&nbsp;
            <v-chip class="mx-1" variant="elevated" color="blue">
              Music
            </v-chip>
            <v-chip class="mx-1" variant="elevated" color="green">
              Lifestyle
            </v-chip>
          </v-row>
          <v-row>
            <p>Clarissa Geller</p>
          </v-row>
          <br><br>
          <v-row>
            <h1 class="my-auto mr-2">1247</h1>
            <p class="my-auto">Post</p>
            <h1 class="my-auto ml-10 mr-2">38.8K</h1>
            <p class="my-auto">Followers</p>
            <h1 class="my-auto ml-10 mr-2">329</h1>
            <p class="my-auto">Following</p>
          </v-row>
          <v-row>
            <p>
              Artist, Musician, Songwriter, Influencer. These are many names people give me. But for you I'm simply Clarissa. *Forever with all my friends* // Latest video can be found here https://www.youtube.com/watch?v=4rQDikdgIxw&ab_channel=RasInggiTV
            </p>
          </v-row>
          <br><br>
          <v-row>
            <v-icon
              size="40px"
              color="red"
              icon="mdi-fire-circle"
              class="mx-2"
            ></v-icon>
            <v-icon
              size="40px"
              color="success"
              icon="mdi-medal"
              class="mx-2"
            ></v-icon>
            <v-icon
              size="40px"
              color="yellow-darken-2"
              icon="mdi-trophy-outline"
              class="mx-2"
            ></v-icon>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>